# ASSIGNMENT-3

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("netflix_data.csv")
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas

# Question1: Create a new column in the provided dataset. Column name should be num_of_cast. The assignment was already explained in class. You have to append or add a column in the dataset which contains the total number of cast in that particular movie or Tv-Show.

In [3]:
data.loc[:,"cast"]

0       João Miguel, Bianca Comparato, Michel Gomes, R...
1       Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2       Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3       Elijah Wood, John C. Reilly, Jennifer Connelly...
4       Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
                              ...
7782    Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784                                              Nasty C
7785                           Adriano Zumbo, Rachel Khoo
7786                                                  NaN
Name: cast, Length: 7787, dtype: object

In [23]:
data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
duration         int64
description     object
genre           object
dtype: object

In [26]:
num_cast= [len(i.split(',')) for i in data['cast'].astype(str)]

In [28]:
data["num_of_cast"]= num_cast

In [29]:
data

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,num_of_cast
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV,11
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,6
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,9
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,9
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas,12
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,7
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,8
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries,1
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV,2
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries,1

In [38]:
data.groupby

<bound method DataFrame.groupby of      show_id     type                                    title  \
0         s1  TV Show                                       3%
1         s2    Movie                                     7:19
2         s3    Movie                                    23:59
3         s4    Movie                                        9
4         s5    Movie                                       21
...      ...      ...                                      ...
7782   s7783    Movie                                     Zozo
7783   s7784    Movie                                   Zubaan
7784   s7785    Movie                        Zulu Man in Japan
7785   s7786  TV Show                    Zumbo's Just Desserts
7786   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

               director                                               cast  \
0                   NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1     Jorge Michel Grau  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7782        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784                NaN                                            Nasty C
7785                NaN                         Adriano Zumbo, Rachel Khoo
7786           Sam Dunn                                                NaN

             country          date_added  release_year  duration  \
0             Brazil     August 14, 2020          2020         4
1             Mexico   December 23, 2016          2016        93
2          Singapore   December 20, 2018          2011        78
3      United States   November 16, 2017          2009        80
4      United States     January 1, 2020          2008       123
...              ...                 ...           ...       ...
7782          Sweden    October 19, 2020          2005        99
7783           India       March 2, 2019          2015       111
7784             NaN  September 25, 2020          2019        44
7785       Australia    October 31, 2020          2019         1
7786  United Kingdom       March 1, 2020          2019        90

                                            description             genre  \
0     In a future where the elite inhabit an island ...  International TV
1     After a devastating earthquake hits Mexico Cit...            Dramas
2     When an army recruit is found dead, his fellow...     Horror Movies
3     In a postapocalyptic world, rag-doll robots hi...            Action
4     A brilliant group of students become card-coun...            Dramas
...                                                 ...               ...
7782  When Lebanon's Civil War deprives Zozo of his ...            Dramas
7783  A scrappy but poor boy worms his way into a ty...            Dramas
7784  In this documentary, South African rapper Nast...     Documentaries
7785  Dessert wizard Adriano Zumbo looks for the nex...  International TV
7786  This documentary delves into the mystique behi...     Documentaries

      num_of_cast
0              11
1               6
2               9
3               9
4              12
...           ...
7782            7
7783            8
7784            1
7785            2
7786            1

[7787 rows x 12 columns]>

# Question 2: In the provided dataset count how many number of tv-shows and movies of each genre are there using group by or whichever other method you see fit.

In [37]:
data.groupby(["type", "genre"]).size()

type     genre
Movie    Action                   721
         Anime Features            19
         Children                 502
         Classic Movies            77
         Comedies                1074
         Cult Movies               12
         Documentaries            751
         Dramas                  1384
         Horror Movies            244
         Independent Movies        20
         International Movies     114
         LGBTQ Movies               1
         Music                     17
         Romantic Movies            3
         Sci-Fi                    11
         Sports Movies              1
         Stand-Up                 321
         Thrillers                 49
         Uncategorized             56
TV Show  Anime Series             148
         British TV               232
         Classic                   21
         Crime TV                 369
         Docuseries               194
         International TV         690
         Kids                     359
         Reality TV               102
         Romantic TV               28
         Spanish-Language           2
         Stand-Up                  33
         TV Action                 37
         TV Comedies              110
         TV Dramas                 62
         TV Horror                 10
         TV Sci                     1
         TV Shows                  12
dtype: int64